.DS_Store
.SwiftLint
.build/
.swiftpm/
Package.resolved
DerivedData/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
.idea/
.vscode/
*.swp
*~
coverage/
.env
